parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Cannot call method markEmailAsVerified\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Method App\\Livewire\\Actions\\Logout\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Livewire/Actions/Logout.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/app.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/cache.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/database.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/logging.php

		-
			message: '#^Parameter \#1 \$url of function parse_url expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/mail.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/session.php

		-
			message: '#^Return type \(array\<string, mixed\>\) of method Database\\Factories\\UserFactory\:\:definition\(\) should be compatible with return type \(array\<model property of App\\Models\\User, mixed\>\) of method Illuminate\\Database\\Eloquent\\Factories\\Factory\<App\\Models\\User\>\:\:definition\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: database/factories/UserFactory.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:assertAuthenticated\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:assertGuest\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Feature/Auth/EmailVerificationTest.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Feature/Auth/EmailVerificationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Feature/Auth/PasswordConfirmationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/Auth/PasswordResetTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:assertAuthenticated\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/RegistrationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/RegistrationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/DashboardTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/DashboardTest.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 3
			path: tests/Feature/Livewire/ContactSectionTest.php

		-
			message: '#^Cannot access property \$content on App\\Models\\PageContent\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Feature/Models/PageContentTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/Settings/PasswordUpdateTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Feature/Settings/ProfileUpdateTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Settings/ProfileUpdateTest.php

		-
			message: '#^Function something\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Pest.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 1
			path: tests/Pest.php
